body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--color-background-dark-gradient);
  color: var(--text-color-dark);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large) 0;
  background-image: var(--color-background-dark-gradient);
  color: var(--font-color-main);
}

main {
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.collection {
  width: 100%;
  height: 100%;
}

.tools-container {
  display: flex;
  padding: var(--spacing-small);
  background-image: var(--color-background-dark-gradient);
}

.filter-books {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  flex-grow: 1;
}

.filter-books__button {
  min-width: 100px;
  height: 32px;
  border: 2px solid var(--background-color-buttons);
  background-color: var(--background-color-buttons);
  color: var(--font-color-secondary);
  border-radius: var(--border-radius-small);
}
.filter-books__button:hover {
  opacity: 0.7;
}

.add-books {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.add-books__button {
  min-height: 64px;
  min-width: 100px;
  border-radius: var(--border-radius-small);
  background-color: var(--background-color-buttons);
  border: none;
  color: var(--font-color-secondary);
}
.add-books__button:hover {
  opacity: 0.7;
}

.books {
  width: 100%;
  height: 100%;
}

/* -------------------- */
.delete-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}

.delete-modal__container {
  min-width: 360px;
  width: 40%;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-medium);
  background-color: var(--background-color-2);
}

.delete-modal__text {
  text-align: center;
  padding: var(--spacing-small);
}

.delete-modal__buttons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-large);
  padding: var(--spacing-large);
}

.delete-modal__confirm-button,
.delete-modal__cancel-button {
  min-width: 80px;
  min-height: 32px;
  background-color: var(--background-color-buttons);
  color: var(--font-color-secondary);
  border: none;
}
.delete-modal__confirm-button:hover,
.delete-modal__cancel-button:hover {
  opacity: 0.7;
}
